@media only screen and (min-width: 700px) {
  #menu {
    display: none;
  }
}

@media only screen and (max-width: 850px) {
  #firstLi {
    font-size: 15px;
  }
  .middle-li {
    font-size: 15px;
  }
  #lastLi {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1500px) {
  #monCv {
    width: 1000px !important;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1499px) {
  #monCv {
    width: 600px !important;
  }
}

@media only screen and (max-width: 699px) {
  nav {
    height: 100px !important;
  }
  #ul1 {
    display: none;
    width: 0px;
  }
  #menu {
    position: relative;
    top: 50px;
  }
  #dropdownMenuButton1 {
    position: relative;
    bottom: 17px !important;
  }
  .linkedin {
    width: 35px;
  }
  .box-inner {
    width: 90%;
  }
  #container-card {
    top: 150px;
  }
  .box-inner p {
    font-size: 10px;
  }
  .card-span p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
  }
  .titre-card-back {
    font-size: 14px !important;
    font-weight: bold;
    margin-top: 5px;
  }
  label {
    font-size: 14px;
  }
  h1 {
    font-size: 20px !important;
  }
  #formContact form {
    top: 138px;
  }
  #bienvenue {
    top: 150px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 230px;
  }
  #bienvenue p {
    font-size: 15px;
  }
  #bienvenue h6 {
    font-size: 20px;
  }
  #bienvenue span {
    font-size: 15px;
  }
  #monCv {
    width: 370px !important;
    top: 170px !important;
  }
  #download {
    top: 122px !important;
  }
}

@-webkit-keyframes move {
  100% {
    -webkit-transform: translate3d(0, 0, 1px) rotate(360deg);
            transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

@keyframes move {
  100% {
    -webkit-transform: translate3d(0, 0, 1px) rotate(360deg);
            transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  top: 0;
  left: 0;
  background: #e4ddee;
  overflow: hidden;
}

.background span {
  width: 4vmin;
  height: 4vmin;
  border-radius: 4vmin;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  -webkit-animation: move;
          animation: move;
  -webkit-animation-duration: 35;
          animation-duration: 35;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #9a82bf;
  top: 85%;
  left: 57%;
  -webkit-animation-duration: 104s;
          animation-duration: 104s;
  -webkit-animation-delay: -20s;
          animation-delay: -20s;
  -webkit-transform-origin: -12vw -1vh;
          transform-origin: -12vw -1vh;
  -webkit-box-shadow: -8vmin 0 1.832023098140901vmin currentColor;
          box-shadow: -8vmin 0 1.832023098140901vmin currentColor;
}

.background span:nth-child(1) {
  color: #FFACAC;
  top: 35%;
  left: 19%;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-delay: -53s;
          animation-delay: -53s;
  -webkit-transform-origin: 7vw -17vh;
          transform-origin: 7vw -17vh;
  -webkit-box-shadow: 8vmin 0 1.1074373256636145vmin currentColor;
          box-shadow: 8vmin 0 1.1074373256636145vmin currentColor;
}

.background span:nth-child(2) {
  color: #dbb3bf;
  top: 61%;
  left: 18%;
  -webkit-animation-duration: 85s;
          animation-duration: 85s;
  -webkit-animation-delay: -138s;
          animation-delay: -138s;
  -webkit-transform-origin: -11vw -1vh;
          transform-origin: -11vw -1vh;
  -webkit-box-shadow: 8vmin 0 1.1607025973685932vmin currentColor;
          box-shadow: 8vmin 0 1.1607025973685932vmin currentColor;
}

.background span:nth-child(3) {
  color: #dbb3bf;
  top: 53%;
  left: 54%;
  -webkit-animation-duration: 26s;
          animation-duration: 26s;
  -webkit-animation-delay: -84s;
          animation-delay: -84s;
  -webkit-transform-origin: -8vw -16vh;
          transform-origin: -8vw -16vh;
  -webkit-box-shadow: 8vmin 0 1.3064347751185257vmin currentColor;
          box-shadow: 8vmin 0 1.3064347751185257vmin currentColor;
}

.background span:nth-child(4) {
  color: #dbb3bf;
  top: 88%;
  left: 3%;
  -webkit-animation-duration: 132s;
          animation-duration: 132s;
  -webkit-animation-delay: -22s;
          animation-delay: -22s;
  -webkit-transform-origin: -9vw 24vh;
          transform-origin: -9vw 24vh;
  -webkit-box-shadow: 8vmin 0 1.8716618398516318vmin currentColor;
          box-shadow: 8vmin 0 1.8716618398516318vmin currentColor;
}

.background span:nth-child(5) {
  color: #9a82bf;
  top: 6%;
  left: 14%;
  -webkit-animation-duration: 82s;
          animation-duration: 82s;
  -webkit-animation-delay: -22s;
          animation-delay: -22s;
  -webkit-transform-origin: -2vw -1vh;
          transform-origin: -2vw -1vh;
  -webkit-box-shadow: 8vmin 0 1.6479223568390993vmin currentColor;
          box-shadow: 8vmin 0 1.6479223568390993vmin currentColor;
}

.background span:nth-child(6) {
  color: #dbb3bf;
  top: 27%;
  left: 83%;
  -webkit-animation-duration: 28s;
          animation-duration: 28s;
  -webkit-animation-delay: -87s;
          animation-delay: -87s;
  -webkit-transform-origin: -18vw 2vh;
          transform-origin: -18vw 2vh;
  -webkit-box-shadow: 8vmin 0 1.951298048502435vmin currentColor;
          box-shadow: 8vmin 0 1.951298048502435vmin currentColor;
}

.background span:nth-child(7) {
  color: #dbb3bf;
  top: 10%;
  left: 1%;
  -webkit-animation-duration: 92s;
          animation-duration: 92s;
  -webkit-animation-delay: -108s;
          animation-delay: -108s;
  -webkit-transform-origin: 15vw 20vh;
          transform-origin: 15vw 20vh;
  -webkit-box-shadow: -8vmin 0 1.9766579676487808vmin currentColor;
          box-shadow: -8vmin 0 1.9766579676487808vmin currentColor;
}

.background span:nth-child(8) {
  color: #dbb3bf;
  top: 7%;
  left: 78%;
  -webkit-animation-duration: 129s;
          animation-duration: 129s;
  -webkit-animation-delay: -41s;
          animation-delay: -41s;
  -webkit-transform-origin: 11vw -7vh;
          transform-origin: 11vw -7vh;
  -webkit-box-shadow: 8vmin 0 1.6745823937161646vmin currentColor;
          box-shadow: 8vmin 0 1.6745823937161646vmin currentColor;
}

.background span:nth-child(9) {
  color: #dbb3bf;
  top: 43%;
  left: 90%;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
  -webkit-animation-delay: -80s;
          animation-delay: -80s;
  -webkit-transform-origin: 21vw -4vh;
          transform-origin: 21vw -4vh;
  -webkit-box-shadow: 8vmin 0 1.9069952241147545vmin currentColor;
          box-shadow: 8vmin 0 1.9069952241147545vmin currentColor;
}

.background span:nth-child(10) {
  color: #9a82bf;
  top: 68%;
  left: 30%;
  -webkit-animation-duration: 63s;
          animation-duration: 63s;
  -webkit-animation-delay: -54s;
          animation-delay: -54s;
  -webkit-transform-origin: 15vw 8vh;
          transform-origin: 15vw 8vh;
  -webkit-box-shadow: -8vmin 0 1.3882713378600935vmin currentColor;
          box-shadow: -8vmin 0 1.3882713378600935vmin currentColor;
}

.background span:nth-child(11) {
  color: #FFACAC;
  top: 71%;
  left: 37%;
  -webkit-animation-duration: 54s;
          animation-duration: 54s;
  -webkit-animation-delay: -54s;
          animation-delay: -54s;
  -webkit-transform-origin: 3vw -15vh;
          transform-origin: 3vw -15vh;
  -webkit-box-shadow: -8vmin 0 1.4066809223001409vmin currentColor;
          box-shadow: -8vmin 0 1.4066809223001409vmin currentColor;
}

.background span:nth-child(12) {
  color: #9a82bf;
  top: 32%;
  left: 28%;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-delay: -17s;
          animation-delay: -17s;
  -webkit-transform-origin: 8vw -7vh;
          transform-origin: 8vw -7vh;
  -webkit-box-shadow: 8vmin 0 1.30189856261825vmin currentColor;
          box-shadow: 8vmin 0 1.30189856261825vmin currentColor;
}

.background span:nth-child(13) {
  color: #9a82bf;
  top: 72%;
  left: 61%;
  -webkit-animation-duration: 135s;
          animation-duration: 135s;
  -webkit-animation-delay: -125s;
          animation-delay: -125s;
  -webkit-transform-origin: -7vw -15vh;
          transform-origin: -7vw -15vh;
  -webkit-box-shadow: -8vmin 0 1.4929958679656508vmin currentColor;
          box-shadow: -8vmin 0 1.4929958679656508vmin currentColor;
}

.background span:nth-child(14) {
  color: #FFACAC;
  top: 5%;
  left: 34%;
  -webkit-animation-duration: 99s;
          animation-duration: 99s;
  -webkit-animation-delay: -118s;
          animation-delay: -118s;
  -webkit-transform-origin: -17vw -11vh;
          transform-origin: -17vw -11vh;
  -webkit-box-shadow: 8vmin 0 1.3917698306948565vmin currentColor;
          box-shadow: 8vmin 0 1.3917698306948565vmin currentColor;
}

.background span:nth-child(15) {
  color: #dbb3bf;
  top: 36%;
  left: 29%;
  -webkit-animation-duration: 43s;
          animation-duration: 43s;
  -webkit-animation-delay: -129s;
          animation-delay: -129s;
  -webkit-transform-origin: 2vw -11vh;
          transform-origin: 2vw -11vh;
  -webkit-box-shadow: -8vmin 0 1.360940291636979vmin currentColor;
          box-shadow: -8vmin 0 1.360940291636979vmin currentColor;
}

.background span:nth-child(16) {
  color: #FFACAC;
  top: 57%;
  left: 22%;
  -webkit-animation-duration: 64s;
          animation-duration: 64s;
  -webkit-animation-delay: -115s;
          animation-delay: -115s;
  -webkit-transform-origin: -15vw 2vh;
          transform-origin: -15vw 2vh;
  -webkit-box-shadow: -8vmin 0 1.5507886688358423vmin currentColor;
          box-shadow: -8vmin 0 1.5507886688358423vmin currentColor;
}

.background span:nth-child(17) {
  color: #FFACAC;
  top: 48%;
  left: 71%;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
  -webkit-animation-delay: -50s;
          animation-delay: -50s;
  -webkit-transform-origin: 2vw -11vh;
          transform-origin: 2vw -11vh;
  -webkit-box-shadow: -8vmin 0 1.9855816600987284vmin currentColor;
          box-shadow: -8vmin 0 1.9855816600987284vmin currentColor;
}

.background span:nth-child(18) {
  color: #9a82bf;
  top: 86%;
  left: 6%;
  -webkit-animation-duration: 28s;
          animation-duration: 28s;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform-origin: 6vw 25vh;
          transform-origin: 6vw 25vh;
  -webkit-box-shadow: -8vmin 0 1.8774580378167856vmin currentColor;
          box-shadow: -8vmin 0 1.8774580378167856vmin currentColor;
}

.background span:nth-child(19) {
  color: #FFACAC;
  top: 37%;
  left: 26%;
  -webkit-animation-duration: 51s;
          animation-duration: 51s;
  -webkit-animation-delay: -29s;
          animation-delay: -29s;
  -webkit-transform-origin: 12vw 10vh;
          transform-origin: 12vw 10vh;
  -webkit-box-shadow: 8vmin 0 1.36815479911722vmin currentColor;
          box-shadow: 8vmin 0 1.36815479911722vmin currentColor;
}

.background span:nth-child(20) {
  color: #dbb3bf;
  top: 22%;
  left: 42%;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
  -webkit-animation-delay: -80s;
          animation-delay: -80s;
  -webkit-transform-origin: -9vw -14vh;
          transform-origin: -9vw -14vh;
  -webkit-box-shadow: -8vmin 0 1.9620320270400613vmin currentColor;
          box-shadow: -8vmin 0 1.9620320270400613vmin currentColor;
}

.background span:nth-child(21) {
  color: #FFACAC;
  top: 19%;
  left: 54%;
  -webkit-animation-duration: 100s;
          animation-duration: 100s;
  -webkit-animation-delay: -105s;
          animation-delay: -105s;
  -webkit-transform-origin: -16vw -23vh;
          transform-origin: -16vw -23vh;
  -webkit-box-shadow: -8vmin 0 1.011939486786202vmin currentColor;
          box-shadow: -8vmin 0 1.011939486786202vmin currentColor;
}

.background span:nth-child(22) {
  color: #FFACAC;
  top: 38%;
  left: 32%;
  -webkit-animation-duration: 104s;
          animation-duration: 104s;
  -webkit-animation-delay: -136s;
          animation-delay: -136s;
  -webkit-transform-origin: 12vw 11vh;
          transform-origin: 12vw 11vh;
  -webkit-box-shadow: -8vmin 0 1.9480950812780071vmin currentColor;
          box-shadow: -8vmin 0 1.9480950812780071vmin currentColor;
}

.background span:nth-child(23) {
  color: #dbb3bf;
  top: 52%;
  left: 21%;
  -webkit-animation-duration: 140s;
          animation-duration: 140s;
  -webkit-animation-delay: -123s;
          animation-delay: -123s;
  -webkit-transform-origin: 3vw -18vh;
          transform-origin: 3vw -18vh;
  -webkit-box-shadow: -8vmin 0 1.4148565522534684vmin currentColor;
          box-shadow: -8vmin 0 1.4148565522534684vmin currentColor;
}

.background span:nth-child(24) {
  color: #9a82bf;
  top: 94%;
  left: 28%;
  -webkit-animation-duration: 46s;
          animation-duration: 46s;
  -webkit-animation-delay: -130s;
          animation-delay: -130s;
  -webkit-transform-origin: -9vw 15vh;
          transform-origin: -9vw 15vh;
  -webkit-box-shadow: 8vmin 0 1.8178891345486228vmin currentColor;
          box-shadow: 8vmin 0 1.8178891345486228vmin currentColor;
}

.background span:nth-child(25) {
  color: #FFACAC;
  top: 58%;
  left: 74%;
  -webkit-animation-duration: 147s;
          animation-duration: 147s;
  -webkit-animation-delay: -36s;
          animation-delay: -36s;
  -webkit-transform-origin: 15vw 9vh;
          transform-origin: 15vw 9vh;
  -webkit-box-shadow: 8vmin 0 1.7785725182781362vmin currentColor;
          box-shadow: 8vmin 0 1.7785725182781362vmin currentColor;
}

.background span:nth-child(26) {
  color: #FFACAC;
  top: 93%;
  left: 29%;
  -webkit-animation-duration: 150s;
          animation-duration: 150s;
  -webkit-animation-delay: -36s;
          animation-delay: -36s;
  -webkit-transform-origin: 20vw -5vh;
          transform-origin: 20vw -5vh;
  -webkit-box-shadow: -8vmin 0 1.137301521137078vmin currentColor;
          box-shadow: -8vmin 0 1.137301521137078vmin currentColor;
}

.background span:nth-child(27) {
  color: #9a82bf;
  top: 76%;
  left: 36%;
  -webkit-animation-duration: 68s;
          animation-duration: 68s;
  -webkit-animation-delay: -135s;
          animation-delay: -135s;
  -webkit-transform-origin: 17vw -11vh;
          transform-origin: 17vw -11vh;
  -webkit-box-shadow: 8vmin 0 1.9730952299116284vmin currentColor;
          box-shadow: 8vmin 0 1.9730952299116284vmin currentColor;
}

.background span:nth-child(28) {
  color: #FFACAC;
  top: 37%;
  left: 100%;
  -webkit-animation-duration: 102s;
          animation-duration: 102s;
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
  -webkit-transform-origin: 1vw -2vh;
          transform-origin: 1vw -2vh;
  -webkit-box-shadow: 8vmin 0 1.6691168957504254vmin currentColor;
          box-shadow: 8vmin 0 1.6691168957504254vmin currentColor;
}

.background span:nth-child(29) {
  color: #FFACAC;
  top: 45%;
  left: 92%;
  -webkit-animation-duration: 108s;
          animation-duration: 108s;
  -webkit-animation-delay: -25s;
          animation-delay: -25s;
  -webkit-transform-origin: 18vw -16vh;
          transform-origin: 18vw -16vh;
  -webkit-box-shadow: -8vmin 0 1.1080710793023825vmin currentColor;
          box-shadow: -8vmin 0 1.1080710793023825vmin currentColor;
}

.background span:nth-child(30) {
  color: #9a82bf;
  top: 70%;
  left: 67%;
  -webkit-animation-duration: 119s;
          animation-duration: 119s;
  -webkit-animation-delay: -126s;
          animation-delay: -126s;
  -webkit-transform-origin: -19vw 3vh;
          transform-origin: -19vw 3vh;
  -webkit-box-shadow: -8vmin 0 1.6031956742653797vmin currentColor;
          box-shadow: -8vmin 0 1.6031956742653797vmin currentColor;
}

.background span:nth-child(31) {
  color: #FFACAC;
  top: 98%;
  left: 57%;
  -webkit-animation-duration: 39s;
          animation-duration: 39s;
  -webkit-animation-delay: -123s;
          animation-delay: -123s;
  -webkit-transform-origin: 14vw 15vh;
          transform-origin: 14vw 15vh;
  -webkit-box-shadow: -8vmin 0 1.6396865464085855vmin currentColor;
          box-shadow: -8vmin 0 1.6396865464085855vmin currentColor;
}

.background span:nth-child(32) {
  color: #FFACAC;
  top: 84%;
  left: 62%;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-delay: -16s;
          animation-delay: -16s;
  -webkit-transform-origin: 12vw 20vh;
          transform-origin: 12vw 20vh;
  -webkit-box-shadow: -8vmin 0 1.6537926177542086vmin currentColor;
          box-shadow: -8vmin 0 1.6537926177542086vmin currentColor;
}

.background span:nth-child(33) {
  color: #dbb3bf;
  top: 44%;
  left: 15%;
  -webkit-animation-duration: 45s;
          animation-duration: 45s;
  -webkit-animation-delay: -11s;
          animation-delay: -11s;
  -webkit-transform-origin: -8vw 18vh;
          transform-origin: -8vw 18vh;
  -webkit-box-shadow: 8vmin 0 1.1632996372684572vmin currentColor;
          box-shadow: 8vmin 0 1.1632996372684572vmin currentColor;
}

.background span:nth-child(34) {
  color: #dbb3bf;
  top: 35%;
  left: 41%;
  -webkit-animation-duration: 92s;
          animation-duration: 92s;
  -webkit-animation-delay: -65s;
          animation-delay: -65s;
  -webkit-transform-origin: 16vw -20vh;
          transform-origin: 16vw -20vh;
  -webkit-box-shadow: 8vmin 0 1.099931330013169vmin currentColor;
          box-shadow: 8vmin 0 1.099931330013169vmin currentColor;
}

.background span:nth-child(35) {
  color: #FFACAC;
  top: 77%;
  left: 46%;
  -webkit-animation-duration: 29s;
          animation-duration: 29s;
  -webkit-animation-delay: -72s;
          animation-delay: -72s;
  -webkit-transform-origin: 11vw -5vh;
          transform-origin: 11vw -5vh;
  -webkit-box-shadow: -8vmin 0 1.512750067322209vmin currentColor;
          box-shadow: -8vmin 0 1.512750067322209vmin currentColor;
}

.background span:nth-child(36) {
  color: #dbb3bf;
  top: 16%;
  left: 71%;
  -webkit-animation-duration: 102s;
          animation-duration: 102s;
  -webkit-animation-delay: -13s;
          animation-delay: -13s;
  -webkit-transform-origin: 12vw -22vh;
          transform-origin: 12vw -22vh;
  -webkit-box-shadow: -8vmin 0 1.516364239869403vmin currentColor;
          box-shadow: -8vmin 0 1.516364239869403vmin currentColor;
}

.background span:nth-child(37) {
  color: #FFACAC;
  top: 59%;
  left: 62%;
  -webkit-animation-duration: 27s;
          animation-duration: 27s;
  -webkit-animation-delay: -93s;
          animation-delay: -93s;
  -webkit-transform-origin: 1vw -23vh;
          transform-origin: 1vw -23vh;
  -webkit-box-shadow: 8vmin 0 1.3504044809458808vmin currentColor;
          box-shadow: 8vmin 0 1.3504044809458808vmin currentColor;
}

.background span:nth-child(38) {
  color: #dbb3bf;
  top: 85%;
  left: 19%;
  -webkit-animation-duration: 104s;
          animation-duration: 104s;
  -webkit-animation-delay: -73s;
          animation-delay: -73s;
  -webkit-transform-origin: -4vw 8vh;
          transform-origin: -4vw 8vh;
  -webkit-box-shadow: 8vmin 0 1.7695287497123862vmin currentColor;
          box-shadow: 8vmin 0 1.7695287497123862vmin currentColor;
}

.background span:nth-child(39) {
  color: #FFACAC;
  top: 90%;
  left: 5%;
  -webkit-animation-duration: 124s;
          animation-duration: 124s;
  -webkit-animation-delay: -83s;
          animation-delay: -83s;
  -webkit-transform-origin: -20vw 25vh;
          transform-origin: -20vw 25vh;
  -webkit-box-shadow: 8vmin 0 1.2774728155026305vmin currentColor;
          box-shadow: 8vmin 0 1.2774728155026305vmin currentColor;
}

.background span:nth-child(40) {
  color: #FFACAC;
  top: 18%;
  left: 55%;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
  -webkit-animation-delay: -92s;
          animation-delay: -92s;
  -webkit-transform-origin: -6vw -10vh;
          transform-origin: -6vw -10vh;
  -webkit-box-shadow: -8vmin 0 1.5321748975311678vmin currentColor;
          box-shadow: -8vmin 0 1.5321748975311678vmin currentColor;
}

.background span:nth-child(41) {
  color: #9a82bf;
  top: 47%;
  left: 66%;
  -webkit-animation-duration: 152s;
          animation-duration: 152s;
  -webkit-animation-delay: -98s;
          animation-delay: -98s;
  -webkit-transform-origin: -5vw 2vh;
          transform-origin: -5vw 2vh;
  -webkit-box-shadow: 8vmin 0 1.2427784055321036vmin currentColor;
          box-shadow: 8vmin 0 1.2427784055321036vmin currentColor;
}

.background span:nth-child(42) {
  color: #9a82bf;
  top: 10%;
  left: 91%;
  -webkit-animation-duration: 54s;
          animation-duration: 54s;
  -webkit-animation-delay: -61s;
          animation-delay: -61s;
  -webkit-transform-origin: 25vw 9vh;
          transform-origin: 25vw 9vh;
  -webkit-box-shadow: 8vmin 0 1.2369193348944916vmin currentColor;
          box-shadow: 8vmin 0 1.2369193348944916vmin currentColor;
}

.background span:nth-child(43) {
  color: #FFACAC;
  top: 85%;
  left: 31%;
  -webkit-animation-duration: 100s;
          animation-duration: 100s;
  -webkit-animation-delay: -79s;
          animation-delay: -79s;
  -webkit-transform-origin: -15vw 24vh;
          transform-origin: -15vw 24vh;
  -webkit-box-shadow: 8vmin 0 1.0328571581430446vmin currentColor;
          box-shadow: 8vmin 0 1.0328571581430446vmin currentColor;
}

.background span:nth-child(44) {
  color: #FFACAC;
  top: 73%;
  left: 32%;
  -webkit-animation-duration: 43s;
          animation-duration: 43s;
  -webkit-animation-delay: -115s;
          animation-delay: -115s;
  -webkit-transform-origin: 12vw -7vh;
          transform-origin: 12vw -7vh;
  -webkit-box-shadow: -8vmin 0 1.6648334607301465vmin currentColor;
          box-shadow: -8vmin 0 1.6648334607301465vmin currentColor;
}

.background span:nth-child(45) {
  color: #FFACAC;
  top: 93%;
  left: 55%;
  -webkit-animation-duration: 88s;
          animation-duration: 88s;
  -webkit-animation-delay: -30s;
          animation-delay: -30s;
  -webkit-transform-origin: -3vw 16vh;
          transform-origin: -3vw 16vh;
  -webkit-box-shadow: -8vmin 0 1.7730544082386417vmin currentColor;
          box-shadow: -8vmin 0 1.7730544082386417vmin currentColor;
}

.background span:nth-child(46) {
  color: #FFACAC;
  top: 90%;
  left: 40%;
  -webkit-animation-duration: 54s;
          animation-duration: 54s;
  -webkit-animation-delay: -69s;
          animation-delay: -69s;
  -webkit-transform-origin: 23vw -7vh;
          transform-origin: 23vw -7vh;
  -webkit-box-shadow: -8vmin 0 1.0455565038414327vmin currentColor;
          box-shadow: -8vmin 0 1.0455565038414327vmin currentColor;
}

.background span:nth-child(47) {
  color: #FFACAC;
  top: 86%;
  left: 20%;
  -webkit-animation-duration: 97s;
          animation-duration: 97s;
  -webkit-animation-delay: -126s;
          animation-delay: -126s;
  -webkit-transform-origin: 25vw 3vh;
          transform-origin: 25vw 3vh;
  -webkit-box-shadow: -8vmin 0 1.2000164122207218vmin currentColor;
          box-shadow: -8vmin 0 1.2000164122207218vmin currentColor;
}

.background span:nth-child(48) {
  color: #FFACAC;
  top: 12%;
  left: 7%;
  -webkit-animation-duration: 141s;
          animation-duration: 141s;
  -webkit-animation-delay: -139s;
          animation-delay: -139s;
  -webkit-transform-origin: -9vw 18vh;
          transform-origin: -9vw 18vh;
  -webkit-box-shadow: 8vmin 0 1.7668961676159616vmin currentColor;
          box-shadow: 8vmin 0 1.7668961676159616vmin currentColor;
}

.background span:nth-child(49) {
  color: #9a82bf;
  top: 17%;
  left: 5%;
  -webkit-animation-duration: 91s;
          animation-duration: 91s;
  -webkit-animation-delay: -119s;
          animation-delay: -119s;
  -webkit-transform-origin: -14vw -4vh;
          transform-origin: -14vw -4vh;
  -webkit-box-shadow: -8vmin 0 1.8039037676654173vmin currentColor;
          box-shadow: -8vmin 0 1.8039037676654173vmin currentColor;
}

body {
  background-color: #bbd2e1 !important;
}

nav {
  position: fixed;
  background-color: #26618E !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  width: 100%;
  top: 0;
  z-index: 1;
  border-bottom: 2px solid white;
}

nav img {
  height: 95%;
  margin-left: 5px;
  margin-top: 5px;
}

nav ul {
  font-family: raleway;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white !important;
  padding-left: 0px;
  margin-top: 10px;
  margin-left: 0px;
  width: 100%;
}

nav li {
  font-size: 17px;
  color: white !important;
  margin-left: 5%;
  margin-right: 5%;
}

nav #firstLi {
  margin-left: 7%;
}

nav #lastLi {
  margin-right: 15%;
}

nav a {
  color: white !important;
  text-decoration: none;
}

nav #menu {
  position: absolute;
  right: 0;
  color: white;
  z-index: 20;
  top: 43px;
}

#dropdownMenuButton1 {
  color: white !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.texte-items {
  text-align: center;
  font-size: 15px !important;
  font-family: raleway;
}

#menuDeroulant {
  background-color: #26618E !important;
  border-color: white;
  border: 2px solid white;
  padding-left: 0px;
}

.hamburger {
  width: 25px;
}

.dropdown-toggle::after {
  display: none !important;
}

.linkedin {
  width: 30px;
}
/*# sourceMappingURL=navbar.css.map */