<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="\sass\index.css" media="screen" rel="stylesheet" type="text/css">
    <link href="\sass\navbar.css" media="screen" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Présentation</title>
</head>


<body>
<nav>
    <img src="/images/newLogo.png" alt="logo_portfolio">
    
    <!-- icone de navigation
        <span class="navbar-toggler-icon" id="icone"></span> -->
    
   
        <ul id="ul1">
            <li id="firstLi" style="text-decoration: underline;"><a href="#">Présentation</a></li>
            <li class="middle-li"><a href="views\projets.html">Projets</a></li>
            <li class="middle-li"><a href="views\cv.html">CV</a></li>
            <li class="middle-li"><a href="views\contact.php">Contact</a></li>
            <li id="lastLi"><a href="https://www.linkedin.com/in/valentin-harnay-609b91b9" target="_blank"><img src="../images/linkedin.png" alt="logo linkedin" class="linkedin"></a></li>
        </ul>


<!-- liste déroulante s'affichant quand screen < 650px -->
        <div id="menu" class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="/images/hamburger.png" alt="icone menu hamburger" class="hamburger">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id="menuDeroulant">
              <li class="texte-items" style="text-decoration: underline;"><a class="dropdown-item" href="#">Présentation</a></li>
              <li class="texte-items"><a class="dropdown-item" href="views/projets.html">Projets</a></li>
              <li class="texte-items"><a class="dropdown-item" href="views\cv.html">CV</a></li>
              <li class="texte-items"><a class="dropdown-item" href="views\contact.php">Contact</a></li>
              <li class="texte-items"><a class="dropdown-item" href="https://www.linkedin.com/in/valentin-harnay-609b91b9" target="_blank"><img src="../images/linkedin.png" alt="logo linkedin" class="linkedin"></a></li>
            </ul>
          </div>


    
</nav>





<div class="background">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
 </div>

<div id="bienvenue">
  <h6 id="section1">Présentation</h6>
  <p>Je me présente, Valentin, 27 ans,<br>"<u>Développeur - Intégrateur Web & Mobile</u>".</p><br>
  <h6>Mon parcours</h6>
  <p>Suite à une période d'activité dans le domaine bancaire (Finistère et Ille-Et-Vilaine de 2017 à 2019), j'ai occupé le poste
    de "<u>Assisteur - Recetteur</u>" au sein du groupe Gan Assurance à Nantes (Loire-Atlantique de 2019 à 2021).
    Mes différentes missions en tant qu'assisteur consistaient à accompagner les agences Gan sur l'utilisation de
    différents outils informatiques ainsi que répondre à leurs questions sur la partie assurance (souscription et
    encaissement).</p>
  <p>Au fil des semaines, une activité à vu le jour au sein de notre équipe : <u>le recettage</u>.
    Cette activité consiste à réaliser des cas tests pour s'assurer du bon fonctionnement du logiciel.
    Le recetteur vérifie la conformité des éléments testés avec les spécifications concernant les systèmes
    existants, les évolutions, les corrections d'incidents ou les nouveaux produits.
    Par le biais de cette activité, un contact s'est établi avec les développeurs du groupe Gan; Après plusieurs
    échanges avec ces derniers, j'ai commencé à avoir un intéret prononcé pour le métier de développeur web.</p>
  <p>Je me suis ensuite informé plus en détail sur le domaine du développement web puis formé en autodidacte (notamment sur les
    langages HTML & CSS). Par la suite, j'ai décidé de commencer une formation de développement web (6 mois de cours +
    2 mois de stage en entreprise) avec l'école ENI Informatique.</p>
  <p>Suite à la validation du titre de "Développeur Web & Mobile" en Mars 2022, je me suis lancé dans la réalisation de
    projets
    personnels afin de mettre en pratique ce que j'ai appris au cours de la formation et également continuer de me
    former
    et progresser.</p> <br>
  <h6>Mon objectif</h6>
  <p>Aujourd'hui, je souhaite poursuivre mon apprentissage avec la formation en alternance de l'ENI Ecole Informatique
    (Concepteur Développeur d'applications Bac+4). Pour cela, je cherche une entreprise qui me permettrai de me former
    davantage et
    de monter en compétences.</p><br>
  <div class="hard-skills">
    <h6>Hard Skills</h6>
    <span><img src="/images/php.png" alt="logo php" class="langages"> <img src="/images/js.png"
        alt="logo javascript" class="langages"> <img src="/images/html.png" alt="logo html" class="langages"> <img
        src="/images/sass.png" alt="logo sass" class="langages"></span><br>
    <span><img src="/images/sql.png" alt="logo sql" class="langages"><img src="/images/github.png" alt="logo github" class="langages"><img src="../images/vsc.png" alt="logo vsc"
        class="langages"></span>
  </div><br>
  <div class="soft-skills">
    <h6>Soft Skills</h6>
    <span>Travail en équipe</span>
    <span>Bon communicant</span>
    <span>Savoir-être</span>
  </div>


</div>




<div class="btn-top">
  <img src="/images/haut.png" alt="fleche haut" class="icone-fleche">
</div>






<script src="/javascript/arrow-top.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>